.np-container{
  background-color: rgb(10, 24, 42);
  height: 100vh;
  padding: 5% 25%;
}

.box-container{
  min-width: 1000px;
  overflow-y: auto;
  height: 50vh;
  display: none !important;
}

.null{
  background-color: white;
  width: 90px;
  height: 90px;
  margin: 5PX 5px;
  border: 1px solid grey;
}

.fizz{
  background-color: rgb(29, 193, 199);
  width: 90px;
  height: 90px;
  margin: 5PX 5px;
  animation: tickle .2s infinite ;
  position: relative;
}

@keyframes tickle {
  0%{left: -0.1%; 
  }
  100%{
    right:-0.1%
  }

}

.buzz{
  background-color: yellow;
  width: 90px;
  height: 90px;
  margin: 5PX 5px;
  animation: scale .5s infinite;
}

@keyframes scale{
 0%{
  transform: scale(1);
 }
 100%{
  transform: scale(0.8);
 }
}


.fizzbuzz{
  background-color: white;
  background-image: linear-gradient(yellow , rgb(29, 193, 199));
  width: 90px;
  height: 90px;
  margin: 5px 5px;
  border-radius: 50%;
  animation: rotate 1s infinite;
}

@keyframes rotate{
  0%{
  transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

button{
  all: unset;
  background-color: coral;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 2px black;
  
  
}

button:hover{
  box-shadow: 0 0 10px  white;
  transition: .3s;
}


.show{
  display: flex !important;
}

.hide{
  display: none !important;
}

h2{
  font-size: 50px;
  color: whitesmoke;
}

.box-container div{
  text-align: center;
  line-height: 90px;
  transition: 2s;
}

.btn-2{
  background-color: unset;
  scale: 0.5;
  color: red;
}